* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
  height: 100vh;
  /* padding: 0 20px; */
  background-color: #ebebeb;
  overflow: hidden;
}

@media screen and (min-width: 950px) {
  .container {
    padding: 0 10rem;
  }
}